# GEANT PIDS:
# X/g          =  0, 1
# e+/-         =  2, 3
# pi0/+/-      =  7, 8, 9
# K+/-/S/L     =  11, 12, 16, 10
# eta/eta'     =  17, 35
# omega/phi    =  33, 34

# p/pbar/n     =  14, 15, 13
# Lamb/lbar    =  18, 26
# Sig+/0/-     =  19, 20, 21
# Xi0/-        =  22, 23
# Omega-       =  24
# Lambdac      =  93

#F#: Kinfit enum value (0 is no fit, 1 is p4-only, 2 is vertex only, 4 is vertex-p4)

#B#: # of Â± Beam Bunches (e.g. 0 is center peak only, 2 is center Â± 2)

#T#: # of extra tracks

#M#: PID # of particle to not constrain kinfit mass

#Convention for final-state order: numerical, but baryons last

# Loosen timing cuts for PID systematic studies

# COMBO_TIMECUT usage: GEANTID_DETECTORSYSTEM TIME_MAX
## BCAL = 4
## TOF = 8
## FCAL = 32


PLUGINS ReactionFilter
#PLUGINS danarest,jpsi_lp,mcthrown_tree
Reaction1 1_14__2_3_14
#Reaction1 1_14__14_m0
#Reaction1:Flags B3_F0
Reaction1:Flags B3
COMBO_TIMECUT:1_4 1.5
COMBO_TIMECUT:1_32 2.5
COMBO_TIMECUT:2_8 1
COMBO_TIMECUT:2_4 2.5
COMBO_TIMECUT:2_32 2.5
COMBO_TIMECUT:3_8 1
COMBO_TIMECUT:3_4 2.5
COMBO_TIMECUT:3_32 2.5
COMBO_TIMECUT:8_8 2
COMBO_TIMECUT:8_4 2.5
COMBO_TIMECUT:8_32 2.5
COMBO_TIMECUT:9_8 2
COMBO_TIMECUT:9_4 2.5
COMBO_TIMECUT:9_32 2.5
COMBO_TIMECUT:11_8 0.75
COMBO_TIMECUT:11_4 2.5
COMBO_TIMECUT:11_32 2
COMBO_TIMECUT:12_8 0.75
COMBO_TIMECUT:12_4 2.5
COMBO_TIMECUT:12_32 2
COMBO_TIMECUT:14_8 2.5
COMBO_TIMECUT:14_4 2.5
COMBO_TIMECUT:14_32 2.5
COMBO_TIMECUT:15_8 2.5
COMBO_TIMECUT:15_4 2.5
COMBO_TIMECUT:15_32 2.5
COMBO_MM2CUT:High_0 0.25
COMBO_MM2CUT:Low_0 -0.25

COMBO:PRINT_CUTS 1
